<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Index</title>
        <link rel="icon" href="/web-server/public/images/weather.png">
        <meta name="description" content="">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrait" src="images/cafe.jpeg" alt="Coffee">

        </div>
        {{>footer}}
    </body>
</html>